;;; Allow only node & npm versions stated in package.json::engines
engine-strict=true
;;; pnpm: Automatically use specified node in this project
use-node-version=18.15.0
shared-workspace-lockfile=false